<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.heading }}</a></h1>

 <div
  class="sidebar-circle"
  style="
    width:60%;
    max-width:220px;
    aspect-ratio:1/1;
    border-radius:9999px;
    overflow:hidden;
    margin:30px auto 18px auto;
    background-color:#e3dbff;
  "
>
  <img
    src="/img/headshot_option_2.png"
    alt="Profile photo"
    class="sidebar-photo"
    width="200"
    height="200"
    style="
      display:block;
      width:100%;
      height:100%;
      object-fit:cover;
      padding:8px;
      box-sizing:border-box;
    "
  >
</div>

    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social_buttons_in_sidebar.html" . }}

    <div class="Tags">
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
              <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
      {{ end }}
    </ul>
    </div>

    <div class="categories">
    <ul>
      {{ range .Site.Taxonomies.categories.ByCount }}
              <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
      {{ end }}
    </ul>
    </div>

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
  </div>
</div>
